.forgot {
    color: #BDC4D0;
    font-size: 16rem;
    line-height: 19rem;
    text-align: right;
    cursor: pointer;
  }
  
  .buttons {
    margin-top: 40rem;
  }
  
  
     .button {
      margin-top: 30rem;
    }
  
  
  .center {
    text-align: center;
  }
  
  .textButton {
    font-size: 18rem;
    margin-top: 36rem;
    cursor: pointer;
  }
    .textButton:hover {
      text-decoration: underline;
    }
  